<input id="title">
<input id="body">
<button class='create-post'>Create Post</button>

{{!-- make it so that content is appended here whenever it is done so that
you can update it by clicking on the button and then whenever it gets changed
here, it will..probably automatically update on the ghomepage --}}

<script src="./js/createBlogPost.js"></script>